* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  color: white;
  background-color: #06062c;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #06062c;
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
  font-family: Helvetica, sans-serif, Arial;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Estilos para el logo  */

.contenedor-logo {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-tareas {
  width: 120px;
}

/* Lista de tareas  */

.lista-principal-tareas {
  width: 800px;
  min-height: 500px;
  background-color: beige;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
}